.navigation {
  position: sticky;
  top: calc(var(--unit-size) * 2);
  height: fit-content;

  display: flex;
  flex-direction: column;

  color: var(--spotify-200);
  font-weight: bold;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--unit-size) * 4);

    &__item {
      margin-bottom: calc(var(--unit-size) * 1);
    }
  }

  &__sections {
  }

  &__section {
    margin-bottom: calc(var(--unit-size) * 3);

    &--title {
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}
